[Unit]
Description=Service for auriolReader script
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 auriolReader.py
WorkingDirectory=/home/user/app
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target